.content-dataPj {
  padding: 1rem;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-dataPj h1 {
  text-align: center;
}

.content-dataPj p {
  text-align: center;
}

.content-tecno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-gridtecno {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.content-gridtecno__Vermas {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 768px) {
  .content-gridtecno {
    grid-template-columns: repeat(4, 1fr);
  }

  .content-gridtecno__Vermas {
    grid-template-columns: repeat(4, 1fr);
  }
}

.content-gridtecno div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.content-gridtecno__Vermas div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.content-gridtecno span {
  text-align: center;
  font-size: 0.8rem;
}

.content-gridtecno__Vermas span {
  text-align: center;
  font-size: 0.8rem;
}

.content-tecno img {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  transition: all 0.3s ease;
}

.content-gridtecno div:hover {
  color: var(--color-five);

  .icon {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
}

.content-gridtecno__Vermas div:hover {
  color: var(--color-five);

  .icon {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
}

.content-tecno .img-git {
  width: 60px;
  height: 30px;
  margin: 0.5rem;
}

.content-tecno .img-strapi {
  width: 75px;
  height: 30px;
  margin: 0.5rem;
}

.content-tecno .img-tailwind {
  width: 90px;
  height: 30px;
  margin: 0.5rem;
}

.btn-vermas {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin: 1rem;
  transition: all 0.3s ease;
}

.btn-vermas:hover {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  transition: all 0.3s ease;
}

.visibleVermas {
  transition: all 0.3s ease;
  opacity: 1;
}

.hiddenVermas {
  transition: all 0.3s ease;
  opacity: 0;
}
